<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
  
</style>

</head>
<body style="margin:2%; text-align:center">
  
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col" style="border-top: none; border-bottom: solid 5px #259a45; color: #259a45; background-color: white"><h1 >Admin</h1></th>
      </tr>
      <tr>
        <th scope="col"><h2>Rooms</h2></th>
      </tr>
    </thead>
    <tbody>
      {{#each rooms}}
          <tr><th scope="row">
            <a href="/admin/room/{{this}}">{{this}}</a>
          </th></tr>
      {{/each}}
    </tbody>
  </table>
  
  <a type="button" class="btn btn-primary" href="/">Back</a>
  <a type="button" class="btn btn-primary" href="/createRoom"> Create Room </a>
</body>
</html>