<!DOCTYPE html>
<html>
<head>
    <script src="https://cloud.tinymce.com/5/tinymce.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        tinymce.init({ 
            selector:'#tableEditor',
            plugins: "table"
        });
    </script>
</head>
<body>
    <form method="post" id="submit-data">
        <textarea id="tableEditor" name="tableEditor"></textarea>
        <input type="submit" value="Submit"/>
    </form>
    
    <script>
        // Create form data object to easily get form values
        let formData = new FormData(document.getElementById('submit-data'));
        console.log(formData);
        
        // Ajax request
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var message = this.responseText;
                showAlert(message);
            }
        };
        xhttp.open("POST", "/", true);
        xhttp.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        xhttp.send(JSON.stringify(formData));
        
    
    </script>
</body>
</html>