<html>

<head>
  <title>Signage</title>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    .form-div{
        margin: 0 auto;
        width:80%;
      }

  </style>
</head>

<body>

  <div class="row justify-content-center align-items-center">
    <h1 class="display-3">Create Room</h1>
  </div>

  <form id="roomForm">
    <div class="form-div">
      <div class="form-group row">
        <label for="slidename" class="col-sm-2 col-form-label">Room Name </label>
        <div class="col-sm-10">
          <input class="form-control" id="roomname" type="TEXT" name="roomname" size="15" placeholder="Name of Room"
            required>
        </div>
      </div>

      <input class="btn btn-primary" type='submit' value='Submit' />

    </div>
  </form>

  <script>
    // Submit button action
    $("#roomForm").submit(function (event) {
      event.preventDefault();
      var formData = $(this).serialize();
      $.ajax({
        url: "/createRoom",
        type: "POST",
        data: formData,
        fail: function (err) {
          console.log(err);

        },
        success: function (result) {
          // alert(result);
          window.location="/";
        },
        done: function (result) {
          alert(result);

        }
      });
    });
  </script>
</body>

</html>